<% include ./partials/header.ejs %>

<div class="container">

<h1>Landing Page</h1>

<!--<a href="/buses/edit">Edit Buses</a><br>-->
    <br>
    <form action="/index" method="POST">
        <button type="submit" class="btn btn-primary">Edit Buses</button>
    </form>
<br>
<button><a href="/buses/register" class="btn btn-primary">Register Buses</a></button>
</div>

<% include ./partials/footer.ejs %>